.search_box {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin-bottom: 16px;
}

.search_box__label {
  font-size: 16px;
}

.search_box__field {
  font-size: 16px;
  height: 24px;
}