.contact_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  width: fit-content;
  min-width: 250px;
  padding: 8px;
}

.contact_col {
  display: flex;
  flex-direction: column;
}

.contact_inner {
  display: flex;
  align-items: center;
}

.contact_text {
  padding-left: 4px;
}

.contact_delete {
  height: fit-content;
}