.contact_form {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  padding: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  gap: 16px;
  margin-bottom: 16px;
}

.contact_form__cell {
  display: flex;
  flex-direction: column;
}

.contact_form__field {
  font-size: 16px;
  height: 24px;
}

.contact_form__submit {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 8px;
}

.contact_form__error {
  color: red;
}